@()
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Play REST API</title>
	</head>

	<body>
		<h1>Play REST API</h1>
		<p>This is a placeholder page to describe the REST API.</p>
		<h2>To query all users, you can do a get:</h2>
		<pre>
			<code>http GET {host}/api/v1/users</code>
		</pre>
		<h2>To create new users, do a post</h2>
		<pre>
			<code>http POST {host}/api/v1/users</code>
		</pre>
		<h2>To get user by ID, do a get</h2>
		<pre>
			<code>http GET {host}/api/v1/users/{userId}</code>
		</pre>
		<h2>To update existing user, do a put</h2>
		<pre>
			<code>http PUT {host}/api/v1/users/{userId}</code>
		</pre>
		<h2>To query all roles, you can do a get:</h2>
		<pre>
			<code>http GET {host}/api/v1/roles</code>
		</pre>
	</body>
</html>
